boto3>=1.34.5
windows-curses>=2.3.2
langchain>=0.0.352
langchain-community>=0.0.6
anthropic-bedrock>=0.5.9
nltk>=3.8.1
chromadb==0.4.10
spacy==3.4.4
spacy-experimental==0.6.4
thinc[torch]
-e file:///C:/Users/mbbecha/Source/sayswho/src
